$white:  #fff !default;
$black:  #000 !default;

$red:    #f33 !default;
$orange: #f90 !default;
$yellow: #fc3 !default;
$green:  #9c0 !default;
$blue:   #09f !default;

$navy:   #036 !default;
$cadet:  #369 !default;

$abby:   #0cf !default;
