$white:  #fff !default;
$black:  #000 !default;
$gray:   #7f7f7f !default;

$red:    #f33 !default;
$orange: #f93 !default;
$yellow: #fc3 !default;
$green:  #9c3 !default;
$aqua:   #3c9 !default;
$blue:   #39c !default;
$purple: #93c !default;
$pink:   #f6c !default;

$navy:   #036 !default;
$cadet:  #369 !default;

$abby:   #0cf !default;
